html {
  overflow: -moz-hidden-unscrollable; /*注意！若只打 hidden，chrome 的其它 hidden 會出問題*/
  height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
	overflow: auto;
}

.sixthButtonClick {
  color: #ffffff;
  background: #000000;
}

.sixthButtonUnclick {
  color: #000000;
  background: none;
}