html {
  overflow: -moz-hidden-unscrollable; /*注意！若只打 hidden，chrome 的其它 hidden 會出問題*/
  height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
	overflow: auto;
}

.focusCircleButton.focusCircleButton {
  opacity: 1;
  cursor: auto;
}

.sixthButtonClick {
  color: #ffffff;
  background: #000000;
}

.sixthButtonUnclick {
  color: #000000;
  background: none;
}

@keyframes bg {
    0% {
        background-size:    0 1px,
                            1px 0,
                            0 1px,
                            1px 0;
    }
    25% {
        background-size:    100% 1px,
                            1px 0,
                            0 1px,
                            1px 0;
    }
    50% {
        background-size:    100% 1px,
                            1px 100%,
                            0 1px,
                            1px 0;
    }
    75% {
        background-size:    100% 1px,
                            1px 100%,
                            100% 1px,
                            1px 0;
    }
    100% {
        background-size:    100% 1px,
                            1px 100%,
                            100% 1px,
                            1px 100%;
    }
}

.fifthCard {
    width: 25%;
    
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #F5F2E8 100%, #F5F2E8 100%),
                        linear-gradient(to bottom, #F5F2E8 100%, #F5F2E8 100%),
                        linear-gradient(to right, #F5F2E8 100%, #F5F2E8 100%),
                        linear-gradient(to bottom, #F5F2E8 100%, #F5F2E8 100%);
    background-size:    100% 1px,
                        1px 100%,
                        100% 1px,
                        1px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1s ease-out 1;
    animation-play-state: paused;
}

.fifthCard:hover {
    animation-play-state: running;
}